:root{
    --cor-background-um: #FFECE4;
    --cor-text-um: #6F3F2D;
    --cor-sombreado-um: #DDA08A;
    --cor-background-dois: #F9D0C1;
    --cor-text-dois: #9B5940;
    --cor-sombreado: #DF847B;
}

* {
    margin: 0;
    padding: 0;
    color: var(--cor-background-um);
}

.titulo1 {
    margin: 15px 0;
    font-size: 30px;
    text-align: center;
    color:#6F3F2D;
}

.cabecalho-lista {
    color: #FFECE4;
    align-items: center;
    background-color: #6F3F2D;
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}
.cabecalho-lista-item {
    display: inline-block;
    margin: 0 16px;
    padding: 24px 0;
    font-size: 24px;
}

  .titulo{
    font-size:25px;
    color:#6F3F2D;
    font-family:monospace;
  }

  .bloco{
    background:#DDA08A;
  text-align:center;
    width:300px;
    border-style:double;
    border-radius:5px;
    margin-left:auto;
    margin-right:auto;
    margin-top:auto;
    background-position:absolute;
    display:table;
    vertical-align:absolute;
  }
  
  .input{
    border-radius:10px;
    color:#6F3F2D;
    inline-size:1cm;
    text-align:center;
   }

  #sinal{
    color:#FFECE4;
  }

  h3{
    text-align:right;
    font-family:bradley hand, cursive;
  }

  .Resultado{
    color:#DDA08A;
  }