@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
:root{
    --cor-background-um: #FFECE4;
    --cor-text-um: #6F3F2D;
    --cor-sombreado-um: #DDA08A;
    --cor-background-dois: #F9D0C1;
    --cor-text-dois: #9B5940;
    --cor-sombreado: #DF847B;
}
* {
    margin: 0;
    padding: 0;
    color: var(--cor-background-um);
}
.titulo1 {
    margin: 15px 0;
    font-size: 30px;
    text-align: center;
    color:#6F3F2D;
}
.titulo{
  font-size:25px;
  color:#6F3F2D;
  font-family:monospace;
}


.cabecalho-lista {
    color: #FFECE4;
    align-items: center;
    background-color: #6F3F2D;
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 16px;
    padding: 24px 0;
    font-size: 24px;
}
.cabecalho-lista-imagem {
    width: 20%;
    margin-right: 77%;
    padding: 50px;
    display: flex;
}
.escola-titulo {
    margin: 30px 0;
    font-size: 40px;
    text-align: center;
    color: #9B5940;
}
.text {
    margin: 30px 0;
    font-size: 20px;
    text-align: center;
    color: #6F3F2D; 
}
.cabecalho-menu {
    align-items: center;
    background-color: #6F3F2D;
    color: #F9D0C1;
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}
.botaomenu:checked~.lista-menu {
    display: block;
}
.botaomenu {
    display: none;
}
#divBusca{
    background-color:#DDA08A;
    border:solid 1px;
    border-radius:15px;
    width:300px;
  }
  #btnBusca{
    float:left;
    width: 15%;
    margin: 30 0 30 0px;
    padding: 30px;
    align-items: center;
    display: flex;
    flex-direction: row;
  }
  #txtBusca{
    color: #F9D0C1;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:32px;
    width:260px;
  }
.escola {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.body{
  background-color: rgb(120, 145, 230);
  color: rgb(255, 255, 255);

}
.span{
  color: rgb(117, 132, 199);
}
.contagem{
  color: black;
  background-color:red
  padding: 20px 0;
  text-align: center;
}

p{
  font-size: x-large;
  font-family: Arial;
  text-align: center;
  color: #6F3F2D;
}
a{
  font-family: Arial, Helvetica, sans-serif;

}
.Objetivo{
  background-color: #DF847B;
  color: #F9D0C1;
  text-align: center;
  font-size: large;
  cursor: pointer;
}
footer{
  text-align: center;
}
.ativo{
  background-color: #DDA08A;
  color:#F9D0C1;
  border-bottom: 3px solid #6F3F2D;
}

.aba-conteudo{
  display: none;
  color: rgb(252, 0, 197);
}
.ativa{
  display: block;
}

.docs{
  display: block;
  text-align: center;
  font-size: 2em;
  width: 400px; 
  font-weight: bold;
  background-color: #DDA08A;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.bloco{
  background:#DDA08A;
text-align:center;
  width:300px;
  border-style:double;
  border-radius:5px;
  margin-left:auto;
  margin-right:auto;
  margin-top:auto;
  margin-bottom: auto;
  display:table;
}

.bloco5{
  background:#DDA08A;
  text-align:center;
    width:300px;
    border-style:double;
    border-radius:5px;
    margin-left:auto;
    margin-right:auto;
    margin-top:auto;
    margin-bottom: auto;
    display:table;
  margin-bottom: 20px;
}

.input{
  border-radius:10px;
  color:#6F3F2D;
  inline-size:1cm;
  text-align:center;
 }

#sinal{
  color:#FFECE4;
}

h3{
  text-align:right;
  font-family:bradley hand, cursive;
}

.Resultado{
  color:#DDA08A;
}

.teclado {
  background-color: #F9D0C1;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 20px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
}

.tecla {
  background-color: #6F3F2D;
  color: #FFECE4;
  padding: 30px;
}


.card {
  display: flex;
  background-color: #FFECE4;
  min-width: 100%;
  max-height: 340px;
  overflow-x: auto;
}

.card--content {
  max-width: 300px;
  margin: 10px;
  padding: 0;
}

.card--content img {
  height: 150px;
  padding: 5px;
  object-fit: cover;
}

p.caption {
 background-color: #6F3F2D;
 margin: -10px 5px 5px 5px;
 padding: 10px;
 font-family: 'Roboto Condensed', sans-serif;
 color: #fff;
 text-align: center;
  text-transform: uppercase;
 }
.card::-webkit-scrollbar {
  width: 100%;
  height: 15px;
}

.card::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px #000;
    border-radius: 10px;
  -webkit-border-radius: 10px;
}
 
.card::-webkit-scrollbar-thumb {
  background-color: #000;
  outline: 1px solid #ddd;
      border-radius: 10px;
  -webkit-border-radius: 10px;
}

.a {
    margin: 40px 0 0 0;
    font-size: 20px;
    text-align: left;
    color: #DDA08A;
    font-display: flex;  
}
.rodape {
    display: flex;
    align-items: center; 
     margin: 20px;
     color: #F9D0C1;
}
.texto-rodape {
    display: inline-block;
    margin: 30px; 
    color: #DF847B; 
    font-size: 10px;
}