:root{
    --cor-background-um: #FFECE4;
    --cor-text-um: #6F3F2D;
    --cor-sombreado-um: #DDA08A;
    --cor-background-dois: #F9D0C1;
    --cor-text-dois: #9B5940;
    --cor-sombreado: #DF847B;
}
* {
    margin: 0;
    padding: 0;
    color: var(--cor-background-um);
}
.titulo1 {
    margin: 15px 0;
    font-size: 30px;
    text-align: center;
    color:#6F3F2D;
}
.cabecalho-lista {
    color: #FFECE4;
    align-items: center;
    background-color: #6F3F2D;
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}
.cabecalho-lista-item {
    display: inline-block;
    margin: 0 16px;
    padding: 24px 0;
    font-size: 24px;
}
.cabecalho-lista-imagem {
    width: 20%;
    margin-right: 77%;
    display: flex;
}
.escola-titulo {
    margin: 30px 0;
    font-size: 40px;
    text-align: center;
    color: #9B5940;
}
.text {
    margin: 30px 0;
    font-size: 20px;
    text-align: center;
    color: #6F3F2D; 
}
.cabecalho-menu {
    align-items: center;
    background-color: #6F3F2D;
    color: #F9D0C1;
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}
.materias {
    display: inline-block;
    margin: 0 16px;
    padding: 24px 0;
    font-size: 24px;
}
.botaomenu:checked~.lista-menu {
    display: block;
}
.botaomenu {
    display: none;
}
.escola {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.fotos {
    width: 35%;
    margin: 30 0 30 0px;
    padding: 30px;
    align-items: center;
    display: flex;
    flex-direction:column;
    justify-content: center;
}
.a {
    margin: 40px 0 0 0;
    font-size: 20px;
    text-align: left;
    color: #DDA08A;
    font-display: flex;  
}
.rodape {
    display: flex;
    align-items: center; 
     margin: 20px;
     color: #F9D0C1;
}
.texto-rodape {
    display: inline-block;
    margin: 30px; 
    color: #DF847B; 
    font-size: 10px;
}