:root{
    --cor-background-um: #FFECE4;
    --cor-text-um: #6F3F2D;
    --cor-sombreado-um: #DDA08A;
    --cor-background-dois: #F9D0C1;
    --cor-text-dois: #9B5940;
    --cor-sombreado: #DF847B;
}
* {
    margin: 0;
    padding: 0;
}

.titulo1 {
    margin: 15px 0;
    font-size: 30px;
    text-align: center;
    color: #6F3F2D;
}

.cabecalho-lista {
    align-items: center;
    background-color: #6F3F2D;
    color: #F9D0C1;
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.cabecalho-lista-item {
    color: #F9D0C1;
    display: inline-block;
    margin: 0 16px;
    padding: 24px 0;
    font-size: 24px;
}

.escola-titulo {
    margin: 30px 0;
    font-size: 40px;
    text-align: center;
    color: #6F3F2D;
}

.cabecalho-menu {
    align-items: center;
    background-color: #6F3F2D;
    color: #F9D0C1;
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.botaomenu:checked~.lista-menu {
    display: block;
}

.botaomenu {
    display: none;
}

.escola {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.a {
    margin: 40px 0 0 0;
    font-size: 20px;
    text-align: left;
    color: #6F3F2D;
    font-display: flex;
}

fieldset {
    border: 0;
}

body,
input,
select,
textarea,
button {
    font-size: 1em;
}

.grupo:before,
.grupo:after {
    content: " ";
    display: table;
}

.grupo:after {
    clear: both;
}

.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    color: #DF847B;
    display: block;
    font-size: larger;
}

fieldset.grupo .campo {
    float: left;
    margin-right: 1em;
}

.campo input[type="text"],
.campo input[type="email"],
.campo input[type="url"],
.campo select,
.campo textarea {
    padding: 0.2em;
    border: 1px solid #DDA08A;
    box-shadow: 2px 2px 2px #DDA08A;
    display: block;
}

.campo select option {
    padding-right: 1em;
}

.campo input:focus,
.campo select:focus,
.campo textarea:focus {
    background: #F9D0C1;
}

.campo label.checkbox {
    color: #6F3F2D;
    display: inline-block;
    margin-right: 1em;
}

.botao {
    font-size: 1.5em;
    border: 0;
    margin-bottom: 1em;
    color: #F9D0C1;
    padding: 0.2em 0.6em;
}
.button {
    color: #DDA08A;
}

.botao:hover {
    background: #FFECE4;
    box-shadow: inset 2px 2px 2px #DDA08A;
    text-shadow: none;
}
.botao,
select,
label.checkbox {
    cursor: pointer;
}

.rodape {
    background: #DDA08A;
    float:inline-end;
    display: block;
    text-align: center;
    margin: 0;
}

.texto-rodape {
    display: inline-block;
    margin: 1em 0;
    color: #DF847B;
    font-size: 12px;
}